body{
  margin: 0;
  padding: 0;
  background: url('../img/pattern white.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* font-family: sans-serif; */
  font-weight: bold;
}

table {
  width: 1350px;
  border: 0;
  align: center;
}

tr {
  height: 600px;
}

.kolom-2 {
  width: 650px;
  /* align-items: center; */
  /* align-content: center; */
  vertical-align: top;
}

.kolom-1 {
width: 700px;
margin-top: 0;
padding-top: 0;
/* align-items: center; */
/* align-content: center; */
/* vertical-align: top; */
}

input {
  width: 50%;
  padding: 0 10px;
  background: none;
  /* text-align: left; */
  /* border: none; */
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 50;
  border-color: #2C5AA0;
  /* outline: none; */
  /* color: white; */
  font-size: 18px;
  font-family: Futura Bk BT;
}

.inputtextemail {
  text-align: left;
  padding-right: 298px;
}

.inputtextpassword {
  text-align: left;
  padding-right: 262px;
}

button {
  background:#800000;
  /* color:white; */
  border-top:0;
  border-left:0;
  border-right:0;
  border-bottom:0;
  /* 5px solid #2A80B9; */
  border-radius: 18px;
  padding:13px 23px;
  text-decoration:none;
  /* font-family:Wonder Boys; */
  /* font-size:15pt; */
}

a {
  text-decoration: none;
  /* font-weight: bold; */
}

/* @font-face {
  font-weight: bold;
} */
